<div class="row">
  <div class="large-12 columns">
    <form action="guests/retrieve_guest" method="get">
      First name:<br>
      <input type="text" name="first_name">
      <br>
      Last name:<br>
      <input type="text" name="last_name">
      <br>
      Zip Code:<br>
      <input type="text" name="zip_code">
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>