<div class="row">
  Hello <%= @guest.first_name %> <%= @guest.last_name %>
  <br>Will you be attending?
  <form method="post">
    <select name="attending">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>