<div class="row" id="name-date">
  <div class="medium-6 large-6 columns namelogo">
    <h1>Parag & Shreya | 8.6.2016</h1>
  </div>

  <div class= "medium-6 large-6 columns timer">
    <iframe width="350" height="120" src="https://w2.countingdownto.com/949292" frameborder="0">
    </iframe>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= image_tag 'DSC_9647.JPG', class:'ring-pic'%>
  </div>
  <br>
</div>
<div class="row">
  <div class="large-12">
    <h3 class="more-details"> Details coming soon..</h3>
  </div>
</div>

<div class="row contact">
  <div class="large-12 columns">
    <div class="large-4 columns">
      <script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a>
    </div>
  </div>
</div>

<script src="js/foundation/foundation.clearing.js"></script>