<div class="row" id="events">

	<div class="row epage">


	</div>

	<div class="row mehndi">
		<div class="transbox">
			<div class="eventtext">
				<h3>Shreya's Mehndi Night</h3>
				<h5>Wednesday, August 3rd, 2016 | 5:00 PM</h5>
				<p>Patel Residence</p>
				<p>9443 Lotus Ave.</p>
				<p>Skokie, IL 60077</p>
				<a href="https://www.google.com/maps/dir//9443+Lotus+Ave,+Skokie,+IL+60077/@42.052657,-87.764597,17z/data=!4m13!1m4!3m3!1s0x880fcf594714b6df:0x62ee17bf8cbda7f0!2s9443+Lotus+Ave,+Skokie,+IL+60077!3b1!4m7!1m0!1m5!1m1!1s0x880fcf594714b6df:0x62ee17bf8cbda7f0!2m2!1d-87.762403!2d42.052653" target="_blank">Get Directions >></a>
		</div>
		</div>
	</div>

	<div class="row svidhi">
		<div class="transbox">
			<div class="eventtext">
				<h3>Shreya's Manglik Prasango</h3>
				<h5>  Thursday, August 4th, 2016 | 2:30 PM</h5>
				<p>Patel Residence</p>
				<p>9443 Lotus Ave.</p>
				<p>Skokie, IL 60077</p>
				<a href="https://www.google.com/maps/dir//9443+Lotus+Ave,+Skokie,+IL+60077/@42.052657,-87.764597,17z/data=!4m13!1m4!3m3!1s0x880fcf594714b6df:0x62ee17bf8cbda7f0!2s9443+Lotus+Ave,+Skokie,+IL+60077!3b1!4m7!1m0!1m5!1m1!1s0x880fcf594714b6df:0x62ee17bf8cbda7f0!2m2!1d-87.762403!2d42.052653" target="_blank">Get Directions >></a>
			</div>
		</div>
	</div>

	<div class="row pvidhi">
		<div class="transbox">
			<div class="eventtext">
				<h3>Parag's Manglik Prasango</h3>
				<h5>Friday, August 5th, 2016| 10:00 AM</h5>
				<p>Comfort Inn</p>
				<p>1235 Lakeview Dr.</p>
				<p>Romeoville, IL 60446</p>
				<a href="https://www.google.com/maps/dir//Comfort+Inn,+1235+Lakeview+Dr,+Romeoville,+IL+60446/@41.6583048,-88.1235292,17z/data=!4m12!1m3!3m2!1s0x0000000000000000:0x884c8a484ee817dd!2sComfort+Inn!4m7!1m0!1m5!1m1!1s0x880e5ed1a8c019f9:0x884c8a484ee817dd!2m2!1d-88.1213405!2d41.6583048" target="_blank">Get Directions >></a>
			</div>
		</div>
	</div>

	<div class="row garba">
		<div class="transbox">
			<div class="eventtext">			
				<h3>Raas-Garba</h3>
				<h5>Friday, August 5th, 2016| 6:30 PM</h5>
				<p>Ashton Place</p>
				<p>341 75th St. </p>
				<p>Willowbrook, IL 60527</p>
				<a href="https://www.google.com/maps/dir//Ashton+Place,+Willow+Commons+Shopping+Center,+341+75th+St,+Willowbrook,+IL+60527/@41.7511454,-87.9582137,17z/data=!4m13!1m4!3m3!1s0x880e4f6612d8722b:0x830f3627439b84d5!2sAshton+Place!3b1!4m7!1m0!1m5!1m1!1s0x880e4f6612d8722b:0x830f3627439b84d5!2m2!1d-87.9561753!2d41.7511349" target="_blank">Get Directions >></a>
			</div>
		</div>
	</div>

	<div class="row wedding">
		<div class="transbox">
			<div class="eventtext">
				<h3>Wedding</h3>
				<h5>Saturday, August 6th, 2016 | 9:00 AM</h5>
				<p>Bolingbrook Golf Club </p>
				<p>2001 Rodeo Drive.</p>
				<p>Bolingbrook, IL 60490</p>
				<a href="https://www.google.com/maps/dir//Bolingbrook+Golf+Club,+2001+Rodeo+Dr,+Bolingbrook,+IL+60490,+United+States/@41.6599975,-88.1555969,17z/data=!4m12!1m3!3m2!1s0x880e5f4949a4957f:0x60eb688bacd6251e!2sBolingbrook+Golf+Club!4m7!1m0!1m5!1m1!1s0x880e5f4949a4957f:0x60eb688bacd6251e!2m2!1d-88.1534082!2d41.6599975" target="_blank">Get Directions >></a>
			</div>
		</div>
	</div>

	<div class="row reception">
		<div class="transbox">
			<div class="eventtext">
				<h3>Reception</h3>
				<h5>Saturday, August 6th, 2016 | 6:30 PM</h5>
				<p>Bolingbrook Golf Club </p>
				<p>2001 Rodeo Drive.</p>
				<p>Bolingbrook, IL 60490</p>
				<a href="https://www.google.com/maps/dir//Bolingbrook+Golf+Club,+2001+Rodeo+Dr,+Bolingbrook,+IL+60490,+United+States/@41.6599975,-88.1555969,17z/data=!4m12!1m3!3m2!1s0x880e5f4949a4957f:0x60eb688bacd6251e!2sBolingbrook+Golf+Club!4m7!1m0!1m5!1m1!1s0x880e5f4949a4957f:0x60eb688bacd6251e!2m2!1d-88.1534082!2d41.6599975" target="_blank">Get Directions >></a>
			</div>
		</div>
	</div>

</div>
