<div class="row">
<h1>Wedding Party</h1>

<h3>Bride's Family </h3>
<p>Late Anil Patel - Father</p>
<p>Nita Patel - Mother</p>
<p>Keya Patel - Sister</p>
<p>Dhruvil Patel - Brother</p>

<h3>Groom's Family</h3>
<p>Navinchandra Dadhaniya - Father</p>
<p>Rasila Dadhaniya- Mother</p>
<p>Chirag Dadhaniya - Brother</p>

<h3>Bridesmaids</h3>
<p>Keya Patel</p>
<p>Khushboo Doshi</p>
<p>Melissa Joseph</p>
<p>Mital Patel</p>
<p>Neema Parikh</p>
<p>Neemisha Patel</p>
<p>Prerna Bodalia</p>
<p>Rina Soni</p>

<h3>Groomsmen</h3>
<p>Chirag Dadhaniya</p>
<p>Harsh Shah</p>
<p>Mayur Patel</p>
<p>Shaan Shah</p>
<p>Sujay Patel</p>
<p>Tejas Rawal</p>
<p>Vivek Patel</p>
<p>Zahid Lodhia</p>

</div>
